#contact-page {
    display: flex;
    justify-content: space-evenly;
    color: #878787;
}

.contact-h {
    text-align: center;
    color: #ffcbed;
}

#contact-container {

}

#contact-list {
    
}

.h-box-ul li {
    text-align: center;
}

#about-vid-container {
    text-align: center;
}

#about-video {
    width: 200px;
    height: auto;
}

#commissions-container {
    width: 50%;
}

#commissions-container fieldset {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
    align-items: center;
}

#commissions-container fieldset input {
    width: 100%;
    align-self: center;
    margin-bottom: 8px;
}

#commissions-container fieldset textarea {
    height: 150px;
    margin-bottom: 12px;
    width: 300px;
}

#commissions-container, #contact-container {
    padding: 24px;
}

@media only screen and (max-width: 600px) {
    #contact-page {
        flex-direction: column-reverse;
        gap: 48px;
    }
    
    #commissions-container {
        width: 100%;
    }

    .footerP {
        max-width: 25%;
    }
}

.invalid {
    color: #d30000;
    background-color: #8b000026;
    border-radius: 10px;
    padding: 8px;
}

#sent-status {
    margin: 36px auto;
    padding: 0 48px;
}

#sent-status svg {
    margin: 12px auto 0;
}