/* * {
    font-family:  Georgia;
} */
/* 'Menaion', */
.ripple:hover {
    transform: scale(1.05);
    transition: 250ms ease-in-out;
    /* translate(x) */
    cursor: pointer;
}

#prod-h2 {
    width: 90%;
    margin: 0 auto;
    /* padding-left: 13.5px; */
    text-align: center;
    padding-bottom: 20px;
    color: lightpink;
    font-size: 34px;
}

.row {
    width: 90%;
    margin: 1rem auto !important;
}

#products-section {
    /* display: flex;
    flex-wrap: wrap;
    width: 85%;
    gap: 64px;
    justify-content: center;
    align-content: center;
    margin: 0 auto; */
    width: 100% !important;
    background-color: #252525;
    padding: 20px 0;
}

.prod {
    width: 250px !important;
    height: max-content;
}

#glass {
    background-color: rgba(234, 234, 234, 0.1);
    padding: 20px;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    gap: 64px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    /* backdrop-filter: blur(5px); */
}

#btn-policy {
    padding: 0;
    width: min-content;
    font-size: 12px;
}