# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

#server directory
/server/node_modules

# production
/build

# SQL Server files
*.mdf
*.ldf

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

fbconfig.js
# firebase.json
# .firebaserc
fbadmin.js
vcfbadminkey.json
