#header-box {
    width: 45%;
    text-align: center;
    padding: 0 80px;
    align-self: center;
}

#header-box h2 {
    color: #878787;
    font-size: 38px;
}

.h-box-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    }

#ig {
    background-color:red;
    padding: 4px;
    width: 32px;
    height: auto;
    border-radius: 10px;
    color: white;
}

#email {
    padding: 2px;
    width: 32px;
    height: auto;
    border-radius: 10px;
    color: ivory;
}

#lp-video {
    max-width: 640px;
    max-height: 360px;
    width: 100%;
    height: auto;
}

#vid-container {
    overflow: hidden;
}

@media only screen and (max-width: 950px) {
    #app-container {
        flex-direction: column;
        justify-content: center;
        height: 75vh;
    }

    #header-box {
        width: unset;
    }
}