@font-face {
  font-family: 'stolzlBold';
  src: url('./assets/stolzlBold.ttf');
}

nav {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    font-family: Georgia;
    background-color: #1b1b1b;
    height: auto;
    flex-wrap: wrap;
}

#nav-h1 {
  font-family: Georgia, Helvetica;
  font-size: 90px;
  /* color: lightpink; */
  color: #FFCBED;
}

@media only screen and (max-width: 470px) {
  #nav-h1 {
    font-size: 60px;
  }
}

  #container-nav div {
    display: flex;
  }
  
  #nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
  }

  #navBtns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 100%;
  }

  #cart-btn {
    background-color: black;
    color: ivory !important;
  }
  #cart-btn:hover {
    background-color: rgba(0, 0, 0, 0.171);
  }
  #navBtns button:hover {
    box-shadow: ivory 0px 0px 3px 0px;
  }

  .MuiButton-label {
    /* color: lightpink !important; */  
    color: #FFCBED !important;
  }

  .itemInCart {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0.25rem;
    margin: 10px auto;
    text-align: center;
  }

  @media screen and (max-width: 410px) {
    .itemInCart button {
      margin: 0;
    }
  }

  .col-9 {
    text-align: center;
    margin: 1rem auto;
  }

  .col-9 div:nth-child(1) {
    color: ivory !important;
  }

  .col-9 strong  {
    text-align: start;
  }

  .modal-footer {
    justify-content: space-evenly !important;
  }

#policy-modal {
  /* width: 800px; */
}

.modal-body {
  font-size: 17px !important;
}

#stripe-banner {
  max-width: 50%;
  margin: auto;
  background-color: #623ea2;
  border-radius: 0px;
}

#empty-c-banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

#icons {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  margin: 10px 0;
  justify-content: space-evenly;
}

.bg-info {
  background-color: rgba(234, 234, 234, 0.1) !important;
}

.MuiButton-text {
  font-family: inherit !important;

}

/* Quantity text select */
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: ivory !important;
}