nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.5rem;
    font-family: Georgia;
    background-color: '#252525';
}

  #container-nav div {
    display: flex;
  }
  
  #nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 0;
  padding-left: 0;
  }

  #navBtns {
    display: flex;
    align-items: center;
  }

  .MuiButton-label {
    color: lightpink !important;
  }

  .itemInCart {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0.25rem;
    margin: 10px auto;
    text-align: center;
  }

  .col-9 {
    text-align: center;
    margin: 1rem auto;
  }

  .col-9 div:nth-child(1) {
    color: ivory !important;
  }

  .col-9 strong  {
    text-align: start;
  }

  .modal-footer {
    justify-content: space-evenly !important;
  }

#policy-modal {
  width: 800px;
}

.modal-body {
  font-size: 17px !important;
}

#stripe-banner {
  max-width: 50%;
  margin: auto;
  background-color: #623ea2;
  border-radius: 0px;
}

#empty-c-banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

#icons {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  margin: 10px 0;
  justify-content: space-evenly;
}

.bg-info {
  background-color: rgba(234, 234, 234, 0.1) !important;
}

.MuiButton-text {
  font-family: inherit !important;

}

/* Quantity text select */
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: ivory !important;
}