nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container-nav{
    /* padding: 1rem 1.5rem; */
  }
  
  #container-nav div {
    display: flex;
  }
  
  #nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 0;
  padding-left: 0;
  }

  .itemInCart {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0.25rem;

    text-align: center;
  }

  .col-9 {
    text-align: center;
    margin: 1rem auto;
  }

  .col-9 div:nth-child(1) {
    margin-bottom: 1.5rem;
  }

  .col-9 strong  {
    text-align: start;
  }