section {
    width: 50%;
    height: auto;
    /* margin: 0 0 0 40vw; */
}

#header-box {
    width: 45%;
    text-align: center;
}

#h-box-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    }