* {
    color: #797979;
}

section {
    width: 50%;
    height: auto;
    /* margin: 0 0 0 40vw; */
}

#header-box {
    width: 45%;
    text-align: center;
    padding: 0 80px;

}

#h-box-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    }

#ig {
    background-color:red;
    padding: 4px;
    width: 32px;
    height: auto;
    border-radius: 10px;
    color: white;
}

#email {
    padding: 2px;
    width: 32px;
    height: auto;
    border-radius: 10px;
    color: ivory;
}